# Mariadb conf file
# Global options
[client-server]
socket=/var/lib/mysql/mysql.sock

# Server options
[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
datadir=/var/lib/mysql

[server]
bind-address=mariadb.mandatory